.category-anchors {
  scroll-snap-type: x proximity;

  overflow-x: scroll;
  display: flex;
  gap: 2.5vw;

  /* inline-size: min(100vw, 100%); */
  padding-block: 10.3125vw min(4.375vw, 14px);
  padding-inline: min(5.625vw, 73px);

  white-space: nowrap;

  li {
    scroll-snap-align: center;
  }

  @media (width > 800px) {
    gap: min(2.54vw, 33px);
    justify-content: space-between;
    padding-block: min(2.4vw, 31px) min(4.7vw, 61px);
    padding-inline: min(2vw, 26px);;
  }
}