.hero {
  picture {
    aspect-ratio: 320/266;
    inline-size: min(100%, 2081px);
    margin-inline: auto;

    img {
      inline-size: 100%;
    }

    @media (width > 800px) {
      aspect-ratio: 3.485;
    }
  }
}