promo-item {
  scroll-snap-align: start;

  position: relative;

  flex-shrink: 0;

  inline-size: min(37.1875vw, 298px);

  font-weight: bold;
  text-align: center;
  list-style: none;

  > a {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-decoration: none;

    .name {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      margin-block: min(4.6875vw, 15px);

      font-size: var(--f-m);
      line-height: 1.2;
      hyphens: auto;
      overflow-wrap: break-word;

      -webkit-line-clamp: 2;

    }

    .price {
      margin-block-start: auto;

      font-size: var(--f-s);
      color: var(--c-accent);

      border: 2px solid var(--c-accent);
      border-radius: 50vmax;
    }

    .image {
      inline-size: 100%;

      picture {
        display: grid;
        place-items: center;

        aspect-ratio: 1;
        inline-size: 100%;
        padding: 5.4%;

        border: 2px solid var(--c-accent);
        border-radius: min(4.6875vw, 15px);
      }
    }

  }

  @media (width > 800px) {
    inline-size: min(15.92vw, 207px);
  }
}