/* stylelint-disable custom-property-empty-line-before */

:root {
  --lh-body: 1.5;

  --f-body: 'Lato', sans-serif;

  --f-s: clamp(12px, max(3.75vw, 12px), 22.5px);
  --f-m: clamp(16px, max(5vw, 16px), 30px);

  --f-widget: var(--f-m);
  --f-footer-link: var(--f-s);

  --c-accent: oklch(71% 0.18 49.98deg);
  --c-text: oklch(0% 0 0deg);
  --c-alt: oklch(100% 0 0deg);
  --c-bg: oklch(31.31% 0.104 265.47deg);
  --c-footer-bg-even: oklch(60% 0.06 265.01deg);
  --c-footer-bg-odd: oklch(81% 0.11 56.92deg);
  --c-footer-fg-odd: oklch(32% 0.11 262.51deg);
  --c-header-bg: oklch(90.27% 0.047 64.06deg);
  --c-shadow: oklch(0% 0 0deg / 25%);

  --t-fast: 200ms;
  --t-slow: 400ms;

  --scroll-button-inline-size: min(10vw, 32px);

  @media (width > 800px) {
    --f-xs: clamp(9px, 1rem + 0.07vw, 12px);
    --f-s: clamp(14px, 1rem + 0.1vw, 18px);
    --f-m: clamp(16px, 1rem + 0.21vw, 20px);

    /* 42 */

    --f-l: clamp(13px, 1rem + 0.36vw, 23px);
    --f-xl: clamp(26px, 1rem + 2vw, 42px);
    --f-xxl: clamp(48px, 1rem + 4.15vw, 70px);

    --f-footer-link: var(--f-xl);
    --f-widget: var(--f-l);

    --scroll-button-inline-size: min(2.46vw, 32px);
  }
}